!!! 5
html
  head
    title= appTitle + ' (' + title + ') - web developer'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    div.bar
    header.main-header
        div.brand
            h1= '[ ' + appTitle + ' ]'
        div.nav
            ul.menu
                li: a(href='/') Incial
                li: a(href='/profile') Perfil
                li: a(href='/weekends') Projetos
                li: a(href='http://cladecoders.tumblr.com', target='blank') Blog 
                li: a(href='/contact') Contato  
    hr

    section.main-content.limit-center 
        h1= title
        hr
        
        block appMainContent
    
    footer.main-footer
        p kaique.developer@gmail.com
