!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= appTitle + ' (' + title + ') - web developer'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/require.js')
    script(src='javascripts/script.js')
  body
    div.bar
    header.main-header
        div.brand
            a(href='/'): h1= '[ ' + appTitle + ' ]'
        div.nav
            ul.menu
                li: a(href='/') Incial
                li: a(href='/profile') Perfil
                li: a(href='/weekends') Projetos
                li: a(href='http://cladecoders.tumblr.com', target='blank') Blog 
                li: a(href='/contact') Contato  
    hr

    section.main-content.limit-center 
        h1= title
        hr
        
        block appMainContent
    
    footer.main-footer
        p kaique.developer@gmail.com
