extends layout

block appMainContent
    img(src='http://24.media.tumblr.com/avatar_5dec0194a28b_128.png')
    hr
    p <b>Nome:</b> Kaique da Silva;
    p <b>Idade:</b> 18 anos;
    p <b>Área que atua:</b> Desenvolvimento Web(Front, Back), Desenvolvimento Mobile(iOS, Android, Blackberry, Web);
    hr
    p <b>Bio:</b> Atuo na área de desenvolvimento para web desde os meus 11 anos de idade, curioso em busca de um novo mundo a programção foi o meu refugio para explorar a minha mente em busca, de concreizar os meu pensamentos e ideias. Quando isso evoloui e pude ver que conseguia passar isso para os meus projetos e não quis mais parar. Paixão, por criar, mudar e inovar sempre.
    hr
    p <b>Linguagens:</b> Javascript, Python, Ruby, C, Objective-C, Java, PHP, AS3, Haskell, HTML5, CSS3, XML, SQL;
    p <b>Frameworks e Ambientes de desenvolvimento:</b> Node.js, Cocos2d, Django, Web2py, Pylons, Rails, Code Igniter, Zend Framework;
    p <b>Bancos de dados:</b> MySQL, SQLite, PostgreSQL, MongoDB;
    p <b>CMS's:</b> Wordpress, Drupal, Joomla;
    p <b>Mobile Frameworks:</b> PhoneGap, Titanium Mobile;
    p <b>Versionamento:</b> Git, Mercurial, Subversion, Bazaar; 
    hr
    p <b>Contato:</b>
        ul
            li: <b>email:</b> <a href='mailto:kaique.developer@gmail.com' target='_blank'>kaique.developer@gmail.com</a>
            li: <b>perfil facebook:</b> <a href='http://www.facebook.com/kaique.silva' target='_blank'> kaique.silva </a>
            li: <b>pagina facebook:</b> <a href='http://www.facebook.com/fthship' target='_blank'> Feel The Hacking </a>
            li: <b>grupo facebook:</b> <a href='http://www.facebook.com/groups/fthship/' target='_blank'> Feel The Hacking </a>
            li: <b>github:</b> <a href='http://www.github.com/kaiquewdev' target='_blank'> kaiquewdev </a>
            li: <b>twitter:</b> <a href='http://www.twitter.com/#!/japaloc' target='_blank'> @japaloc </a>
            li: <b>blog:</b> <a href='http://www.cladecoders.tumblr.com' target='_blank'> #!/Clade/coders/ </a>
    br
